*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

@font-face {
    font-family: NunitoSansR;
    src: url(../letras/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: NunitoSansB;
    src: url(../letras/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: NunitoSansBI;
    src: url(../letras/NunitoSans-BoldItalic.ttf);
}


@font-face {
    font-family: RobotoM;
    src: url(../letras/RobotoMono-Medium.ttf);
}
@font-face {
    font-family: RobotoB;
    src: url(../letras/RobotoMono-Bold.ttf);
}

@font-face {
    font-family: RobotoR;
    src: url(../letras/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: PopinB;
    src: url(../letras/Poppins-Bold.ttf);
}

#custom-header {
    background-color: #FC0A0A;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center; 
}
#custom-header img {
    width: 40%;
    height: auto; 
}
#custom-main {
    background-image: url('../imgs/calendarioFundo.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%;
    height: auto;
    color:white ;
    text-align: center;

}
#custom-main img{
    width:50%;
}
#custom-link {
    color: white;
    text-decoration: none;
    font-size: 150%;
    text-shadow: 
        1px 1px 0px black,  
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    
}
#custom-link:hover {
    color: #FCB717; 
}
#marc img, #abr img, #maio img{
    width: 22%;
}
#fev,#marc,#abr,#maio,#jun{
    padding-top: 3%;
    padding-bottom: 3%;
    
}
h1{
   
    padding-top: 5%;
    padding-bottom: 5%;
    color: white; 
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red; 
    
}
h4{
    padding-bottom: 2%;
    color: #FCB717;
    text-shadow: 
        1px 1px 0px black,  
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    
}

h6{
    color: white;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red; 
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    #custom-img {
        width: 90%;
        display: block; 
        height: auto; 
    }  
    
}
    
    
    
    
    






